/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("../img/galaxy-planets-digital-art.jpg");
    background-position: center;
    background-size: cover;
}

button {
    background-color: #FDFDFD;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #102F5e;
    color: #FFF;
}

button:hover > i {
    color: #FFF;
}

button i {
    color: #102F5e;
    font-weight: bold;
    /* isso faz com que quando clicado no botão, só o botão dispare o evento..
    e não o ícone que está a frente. */
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* toDo header */
.toDo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #FDFDFD;
    padding: 1.5rem;
    border-radius: 15px;
}

.toDo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #CCC;
}

/* ToDo Form */
#toDo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

#toDo-form p, 
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* ToDo toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#search button {
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* ToDo List */
.toDo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #DDD;
    transition: 0.3s;
}

.toDo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.toDo button {
    margin-left: 0.4rem;
}

/* quando a tarefa está concluída */
.done {
    background-color: #395169;
}

.done h3 {
    color: #FFF;
    text-decoration: line-through;
    font-style: italic;
}



/* ToDo footer */

.toDo-container footer {
    display: flex;
    padding: 1rem 0 0;
}

#footer-btn {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    display: flex;
    width: 60%;
}

#footer-btn button {
    margin-right: 0.5rem;
    border-radius: 16px;
    color: #FFF;
}

#footer-btn button:hover > a {
    color: #FFF;
}

.footer-text {
    
    text-align: center;
    font-weight: bold;
    margin: auto;
}




